<div id='comment_form'>
<div class="text-center">
  <% if current_user %>
    <%= form_with(model: [@post, @comment], local: false ) do |f| %>
      <%= f.text_area :comment, size: "60x5", placeholder: "200文字以内でコメントできます！", class: "resize-none block w-full p-2 mt-2 mb-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200'" %>
      <%= f.submit 'コメントする', class: "p-2 mt-4 text-white bg-blue-900 rounded-full ransition duration-200 ease-in-out bg-blue-900 hover:bg-gray-500 cursor-pointer" %>
    <% end %>
  <% else %>
    <p>コメントの投稿には新規登録/ログインが必要です</p>
  <% end %>
  </div>
</div>
