<%= render "shared/header" %>
<div class="container mx-auto">
  <div class="base flex flex-col sm:text-base">
    <h1 class="title">通知一覧</h1>
    <div><%= link_to "すべて削除", notification_path(@notifications), method: :delete, class: "fas fa-trash small-btn text-xs float-right" %></div>
    <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render notifications %>
    <% else %>
      <p class='text-gray-500 text-center'>通知はありません</p>
    <% end %>
  </div>
</div>
