<% if logged_in? && post.user == current_user %>
    <% if post.liked_by?(current_user) %>
        <p><span>お気に入り解除: </span><%=link_to post.likes.count, post_likes_path(post.id), method: :delete, remote: true %></p>
    <% else %>
        <p><span>お気に入り登録: </span><%=link_to post.likes.count, post_likes_path(post.id), method: :post, remote: true %></p>
    <% end %>
<% else %>
       <p><span>お気に入り数: </span><%= post.likes.count %></p>
<% end %>
