<%= render 'shared/header' %>

<div class='container mt-20 text-gray-600'>
  <div class='flex flex-col p-8 mx-auto w-4/6 bg-white rounded'>
  <div class='text-center text-2xl'>ユーザー一覧</div>
      <%= render @users %>
      <%= paginate @users %>
  </div>
</div>
