<%= render 'shared/header' %>

<div class='container mx-auto mt-24 text-center text-blue-900'>
  <div class='flex flex-col'>
    <h1 class='text-2xl font-semibold mb-6'>ユーザー一覧</h1>
      <%= render @users %><%= render 'relationships/follow'%>
      <%= paginate @users %>
  </div>
</div>
