<% if object.errors.any? %>
  <div>
    <div>
      フォームに<%= pluralize(object.errors.count, "つの誤りがあります") %>。
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
