<% if object.errors.any? %>
  <ul class="list-none text-center text-sm text-red-400 mb-5">
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
