<% @user ||= current_user %>
<div class="mx-auto">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <span> | </span>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers">
    <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>
