<%= form_with(model: @message, local: false) do |f| %>
  <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: "60×2", class: "form mt-8 rounded-full focus:outline-none focus:ring focus:ring-blue-100 focus:border-blue-200" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <div class="text-right"><%= f.submit "送信", class: "small-btn cursor-pointer focus:outline-none　transition duration-200 ease-in-out hover:bg-gray-500" %></div>
<% end %>
