<%= render 'shared/header'%>

<div class='container mx-auto'>
  <div class="base flex flex-col w-5/6 sm:text-base">
    <div id="chat_area">
      <%= render "rooms/chat_area" %>
    </div>
    <div id="chat_form">
      <%= render "rooms/chat_form" %>
    </div>
  </div>
</div>
