@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #efeeea;
  margin: 0 20px;
  padding: 80px 0px;
}

.pagecurrent {
  display: inline-block;
  color: #ffffff;
  background-color: #1E3A8A;
  border-radius: 9999px;
  height: 30px;
  width: 30px;
}

.tab-group{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  text-align:center;
  cursor:pointer;
}

.panel-group{
  height:100px;
  border-top:none;
}

.panel{
  display:none;
}

.tab.is-active{
  background: #1E3A8A;
  color: #ffffff;
  transition: all 0.2s ease-out;
}

.panel.is-show{
  display:block;
}

.success{
  background-color: #34d399;
}

.alert{
  background-color: #ef4444;
}
