@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .base {
    @apply w-full mx-auto bg-white p-6 text-xs text-gray-600 rounded;
  }
  .title {
    @apply text-center text-xl text-gray-600 font-bold my-8;
  }
  .top-title {
    @apply text-2xl text-blue-800 font-bold pt-5 ;
  }
  .small-icon {
    @apply inline-block h-8 w-8 rounded-full shadow-xl;
  }
  .medium-icon {
    @apply inline-block w-12 h-12 rounded-full shadow-xl;
  }
  .large-icon {
    @apply inline-block w-32 h-32 rounded-full;
  }
  .form-title {
    @apply inline-block mb-2 text-sm text-gray-600;
  }
  .form {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md;
  }
  .small-btn {
    @apply inline-block my-auto text-sm text-white bg-blue-800 rounded-full px-2 py-1;
  }
  .up-btn {
    @apply inline-block px-4 py-2 mt-8 text-white bg-blue-800 rounded-3xl;
  }
  .small-tag {
    @apply inline-block text-xs p-1 text-white bg-gray-500 rounded-full;
  }
  .medium-tag {
    @apply inline-block align-middle p-1 m-1 text-white bg-gray-500 rounded-full;
  }
  .chat {
    @apply inline-block bg-gray-200 p-2 rounded-full;
  }
  .error {
    @apply fixed mr-10 p-2 rounded text-white text-sm;
  }
  .header {
    @apply font-bold px-3;
  }
  .chat-title {
    @apply text-center font-bold text-blue-800 my-8 mx-auto p-4 rounded;
  }
  .log-btn {
    @apply w-full px-2 py-3 text-white rounded-md;
  }
  .post-btn {
    @apply text-3xl text-white  p-6 rounded-full bg-blue-800;
  }
  .rakuten-form {
    @apply w-full mx-auto border-2 border-gray-300 p-5 rounded-md shadow-lg my-3;
  }
  .rakuten-detail {
    @apply text-right text-base font-bold;
  }
}

body {
  background-color: #efeeea;
  margin: 0 20px;
  padding: 80px 0px;
}

.pagecurrent {
  display: inline-block;
  color: #ffffff;
  background-color: #2c5282;
  border-radius: 9999px;
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.page {
  margin: 0 10px;
}

.page:hover {
  display: inline-block;
  color: #2c5282;
  transition: all  0.3s ease;
}

.prev {
  margin: 0 5px;
}

.prev:hover {
  display: inline-block;
  color: #2c5282;
  transition: all  0.3s ease;
}

.first {
  margin: 0 10px;
}

.first:hover {
  display: inline-block;
  color: #2c5282;
  transition: all  0.3s ease;
}

.next {
  margin: 0 10px;
}

.next:hover {
  display: inline-block;
  color: #2c5282;
  transition: all  0.3s ease;
}

.last {
  margin: 0 10px;
}

.last:hover {
  display: inline-block;
  color: #2c5282;
  transition: all  0.3s ease;
}

.tab-group{
  display: flex;
}

.tab{
  flex-grow: 1;
  padding: 5px 10px;
  margin: 10px;
  list-style:none;
  text-align:center;
  cursor:pointer;
}

.panel-group{
  border-top:none;
}

.panel{
  display:none;
}

.tab.is-active{
  background: #2c5282;
  color: #ffffff;
  text-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-out;
}

.panel.is-show{
  display:block;
}

.success{
  background-color: #34d399;
}

.alert{
  background-color: #ef4444;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 255);
  text-align: center;
  padding: 38px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
