@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .small-icon {
    @apply inline-block h-8 w-8 rounded-full shadow-xl;
  }
  .medium-icon {
    @apply inline-block w-12 h-12 rounded-full shadow-xl;
  }
  .large-icon {
    @apply inline-block w-32 h-32 rounded-full shadow-xl;
  }
  .form {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md;
  }
  .up-btn {
    @apply inline-block px-4 py-2 text-white bg-blue-800 rounded-3xl;
  }
  .small-tag {
    @apply inline-block text-xs p-1 text-white bg-gray-500 rounded-full;
  }
  .medium-tag {
    @apply inline-block align-middle p-1 m-1 text-white bg-gray-500 rounded-full;
  }
  .error {
    @apply fixed mr-10 p-2 rounded text-white text-sm;
  }
  .header {
    @apply font-bold px-3;
  }
}

body {
  background-color: #efeeea;
  margin: 0 20px;
  padding: 80px 0px;
}

.pagecurrent {
  display: inline-block;
  color: #ffffff;
  background-color: #1E3A8A;
  border-radius: 9999px;
  height: 30px;
  width: 30px;
}

.tab-group{
  display: flex;
  justify-content: center;
}

.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  text-align:center;
  cursor:pointer;
}

.panel-group{
  height:100px;
  border-top:none;
}

.panel{
  display:none;
}

.tab.is-active{
  background: #1E3A8A;
  color: #ffffff;
  transition: all 0.2s ease-out;
}

.panel.is-show{
  display:block;
}

.success{
  background-color: #34d399;
}

.alert{
  background-color: #ef4444;
}
